@import "tailwindcss";

@theme {
  --color-primary-light: #333697;
  --color-primary: #3736A3;
  --color-primary-dark: #191A46;
  
  --color-slate-700: #454652;
  --color-slate-800: #191C1E;
  
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
}

:root {
  background-color: #F2F4F7;
  color: #191C1E;
  font-family: "Inter", sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
